<div class="container-fluid">
    <ul class="nav justify-content-center navbar-light bg-light">
        <li class="nav-item">
            <img [src]="company.image" height="60px" width="60px" style="margin-right: 50px;">
        </li>
        <li class="nav-item">
            <a class="nav-link" href="company-home">About company</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="company-orderers">Orderers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="company-goods">Goods and services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="company-articles">Article arrangement</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active bold" href="#">Table arrangement</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="company-bills">Bills</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="company-reports">Reports</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="change-password">Change password</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" (click)="logout($event)">Log out</a>
        </li>
    </ul>
    <br><br>
    <div class="row">
        <div class="col-sm-2">
            &nbsp;
        </div>
        <div class="col-sm-8 centerClass">
            <div class="tab">
                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td *ngFor="let storage of company.storages; let i = index;">
                                <button class="tablinks" (click)="activateTab(i)">{{storage.name}}</button>
                            </td>
                            <td>
                                <button class="btn btn-primary"(click)="open(content)">Add new object (storage)</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <ng-template #content let-modal>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Add new object (storage) </h4>
                    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                </div>
                <div class="modal-body">
                <table class="table table-stripped table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td>Id: </td>
                            <td><input type="text" [(ngModel)]="storageId"></td>
                        </tr>
                        <tr>
                            <td>Name: </td>
                            <td><input type="text" [(ngModel)]="storageName"></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="centerClass"><button class="btn btn-primary" (click)="addStorage()">Add object (storage)</button></td>
                        </tr>
                    </tbody>
                </table>
                </div>
                <div class="modal-footer">
                </div>
            </ng-template>              
            <hr>
            <div class="centerClass">
                <div class="parentDiv">
                    <table>
                        <tr *ngFor="let table of tables; let i = index">
                            <div *ngIf="i==0" class="childDiv child1">
                                1
                            </div>
                            <div *ngIf="i==1" class="childDiv child2">
                                2
                            </div>
                            <div *ngIf="i==2" class="childDiv child3">
                                3
                            </div>
                            <div *ngIf="i==3" class="childDiv child4">
                                4
                            </div>
                            <div *ngIf="i==4" class="childDiv child5">
                                5
                            </div>
                        </tr>
                    </table>
                </div>
            </div>  
            <div class="centerClass">
                <span class="alert alert-danger" *ngIf="errorMessage!=''">{{errorMessage}}</span>
                <span class="alert alert-success" *ngIf="successMessage!=''">{{successMessage}}</span>
            </div>
            <br><br><br><br>
        </div>
        <div class="col-sm-2">
            &nbsp;
        </div>
    </div>
</div>